<form method="post" action="/weather">
<p>LET US KNOW YOUR<br />CITY OR ZIPCODE</p>
<input type="text" placeholder="Your Location" name="post[location]" />
<input type="submit" name="Search" value="FORECAST" />
</form>